body{
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: Roboto; sans-serif;

  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}
.container {
  width: 1146;
  margin: 0 auto;
  flex-direction: column;

}
.header {

}
.link-light {
	color: #ffffff;
} 
.link-light:hover,
.link-light:focus,
.link-light:active {
	color: #ed5b3d;
}
.link-dark {
	color: #000000;
} 
.link-dark:hover,
.link-dark:focus,
.link-dark:active {
	color: #ed5b3d;
}

.social-button {
	color: #e6ebe9;
}
.user-navigation-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  }
.information-link-cooperation{
  font-weight: 700;
  }
.catalog-item-link {
	font-weight: 500;
	color: #ffffff;
}
.catalog-item-link:hover,
.catalog-item-link:focus,
.catalog-item-link:active {
	color: #ed5b3d;
}

.information-link {
  font-size: 13px;
  line-height: 16px;
  }
.footer-logo-copyright {
  font-size: 12px;
  line-height: 16px;
  }
.h-catalog {
  font-size: 35px;
  line-height: 41px;
  }
.navigation-item {
  font-size: 16px;
  line-height: 18px;
  }
.navigation-page {
  font-size: 14px;
  line-height: 16px;
  }
.features-title,
.news-link {
  font-size: 24px;
  line-height: 30px;
  }
.catalog-item-style {
  font-size: 45px;
  line-height: 45px;
  }
.basket-red {
  font-size: 13px;
  line-height: 16px;
  }
.basket-cost {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  }
.advertising-item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.advertising-item-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.button-form {
  text-align: center;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
.button-form:hover,
.button-form:focus,
.button-form:active {
	color: #ffffff;
}
.button-form-light {
  text-align: center;
  background-color: #849d8f;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.button-form-light:hover,
.button-form-light:focus,
.button-form-light:active {
  color: #000000;
}
.button-form-bg {
  font-size: 32px;
  line-height: 44px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.text-bold {
  font-weight: 700;
  }
.text-medium {
  font-weight: 500;
  }
.text-regular {
  font-weight: 400;
  }
.text-dark {
	color: #000000;
}
html {
  width: 1250;
  height: 2449;
}
.filters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.navigation-links,
.catalog-menu,
.user-navigation,
.contacts,
.catalog-list,
.features-list,
.footer-social,
.navigation-page,
.percent,
.footer-information,
.form-regist-item,
.information-link,
.catalog-page-numbers,
.advertising-item,
.footer-copyright,
.catalog-item-promo {
  list-style: none;
}


<<
.header {
    padding-top: 9px;
    display: flex;
}
.title-catalog {
    padding-top: 20px;
    display: flex;
}


.h-catalog {
    padding-top: 14px;
    display: flex;
}
.filters {
    padding-top: 37px;
    display: flex;
}
.catalog-list {
    padding-top: 40px;
    padding-bottom: 56px;
    display: flex;

    flex-wrap: wrap;
}
.catalog-item {
    align-items: stretch;
    height: 318;
    width: 267;
}

.footer {
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
}
.footer-social {
  display: flex;
  justify-content: space-between;
}
.social-button {
  padding-right: 17px; 
}
.footer-information {
  display: flex;
  flex-direction: row;
}
.footer-list {
  display: flex;
  flex-direction: column;

}
.footer-item {
  padding-left: 27px; 
}

}
.footer-copyright {
  display: flex;
  flex-direction: column;
}


.promo {
  padding-top: 286px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.advertising {
  padding-top: 85px;
  display: flex;
}
.advertising-list {
  display: flex;
  justify-content: space-between;
}
.catalog-promo {
  padding-top: 81px;
  display: flex;
}
.catalog-list-promo {
  display: flex;
  justify-content: space-between;
}
.catalog-item-promo {
  width: 267px;
  padding-right: 26px;
}
.features {
  padding-top: 73px;
  display: flex;
}
.features-list {
  display: flex;
  flex-direction: column;
}
.features-item {
  display: flex;

}
.interactive {
  padding-top: 97px;
  display: flex;
}
.map {
  min-height: 430px;
  padding-top: 193px;
  padding-bottom: 128px;
  display: flex;
  justify-content: flex-end;
}
.contacts-adress {
  align-self: flex-end;
}
.container {
  width: 1146;
  margin: 0 auto;
  display: flex;
}

















