html {
  width: 1250;
  height: 2449;
}
body{
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  font-family: Roboto; sans-serif;

  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}
.container {
  width: 1200px
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.header {
    padding-top: 10px;
}
.navigation {
  display: flex;
}
.navigation-links {
  display: flex;
}
.user-navigation {
  display: flex;
}
.catalog-index {
  display: flex;
}


.footer {
    padding: 0px 25px 35px;
    width: 1200px;

    display: flex;
    justify-content: space-between;
}
.footer-social {
  display: flex;
  flex-direction: flex-start;
  flex-basis: 185px;
}
.social-button {
  padding-right: 17px;
  color: #e6ebe9;
}
.footer-information {
  display: flex;
}
.footer-list {
  display: flex;
  flex-direction: column;
}
.footer-item {
  padding-left: 27px; 
}
}
.footer-copyright {
  display: flex;
  flex-direction: column;
}
.information-link {
  font-size: 13px;
  line-height: 18px;
  }
.footer-logo-copyright-text {
  font-size: 12px;
  line-height: 18px;
  }


.link-light {
	color: #ffffff;
} 
.link-light:hover,
.link-light:focus,
.link-light:active {
	color: #ed5b3d;
}
.link-dark {
	color: #000000;
} 
.link-dark:hover,
.link-dark:focus,
.link-dark:active {
	color: #ed5b3d;
}
.button-form {
  text-align: center;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
}
.button-form:hover,
.button-form:focus,
.button-form:active {
  color: #ffffff;
}
.button-form-light {
  text-align: center;
  background-color: #849d8f;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 50px;
}
.button-form-light:hover,
.button-form-light:focus,
.button-form-light:active {
  color: #000000;
}
.button-form-bg {
  text-align: center;
  background-color: #ed5b3d;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  border-radius: 50px;
  flex-basis: 280px;
}
.button-form-two {
  font-size: 18px;
  line-height: 24px;
  border-radius: 50px;
}
.form-field {
  width: 100%;
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text-bold {
  font-weight: 700;
  }
.text-medium {
  font-weight: 500;
  }
.text-regular {
  font-weight: 400;
  }
.text-dark {
  color: #000000;
}





.user-navigation-link {
  font-size: 14px;
  line-height: 16px;
  }

.catalog-item-link {
	color: #ffffff;
}
.catalog-item-link:hover,
.catalog-item-link:focus,
.catalog-item-link:active {
	color: #ed5b3d;
}


.h-index {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}
.h-catalog {
  font-size: 35px;
  line-height: 41px;
  }
.navigation-item {
  font-size: 16px;
  line-height: 18px;
  }
.navigation-menu {
  font-size: 14px;
  line-height: 16px;
  }
.features-title,
.news-link { 
  font-size: 24px;
  line-height: 30px;
  }
.catalog-item-style {
  font-size: 45px;
  line-height: 45px;
  }



.basket-red {
  display: flex;
  justify-content: flex-end;
}
.basket-red-table {
  font-size: 13px;
  line-height: 16px;
  align-self: flex-end;
  }
.basket-cost {
  font-size: 15px;
  line-height: 18px;
  }
.advertising-item {
  font-size: 18px;
  line-height: 22px;
}
.advertising-item-title {
  font-size: 35px;
  line-height: 41px;
}

.filters {
  font-size: 16px;
  line-height: 18px;
}
.percent-item-title {
  font-size: 14px;
  line-height: 16px;
}

.catalog-item-title {
  font-weight: 500;
}


.advertising-list,
.navigation-links,
.catalog-menu,
.user-navigation,
.contacts,
.catalog-list,
.features-list,
.footer-social,
.navigation-page,
.percent,
.footer-information,
.form-regist-item,
.information-link,
.catalog-page-numbers,
.advertising-item,
.footer-copyright,
.catalog-item-promo {
  list-style: none;
}


.title-catalog {
    padding-top: 20px;
    display: flex;
}

.h-catalog {
    padding-top: 14px;
    display: flex;
}

.filters {
    padding-top: 37px;
  }
.percent {
  display: flex;
}
.percent-item {
  display: flex;
  flex-direction: column;
}
.catalog-list {
    padding-top: 40px;
    padding-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
}
.catalog-item {
    flex-basis: 267px;
    padding-right: 25px;
    padding-bottom: 40px;
}
.img-catalog {
 border-radius: 150px;
}

.catalog-promo {
  padding-top: 80px;
  display: flex;
}
.catalog-list-promo {
  display: flex;
  justify-content: space-between;
}
.catalog-item-promo {
  flex-basis: 267px;
  padding-right: 25px;
}

.catalog-page-numbers {
  display: flex;
  justify-content: flex-end;
  }
.numbers-item {
  display: inline-flex;
  padding-left: 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  }
.numbers-item:hover,
.numbers-item:focus {
  color: #849d8f;
  background-color:#ffffff;
  opacity: 0.3;
}
.numbers-item:active {
  color: #849d8f;
  background-color:#ffffff; 
}
.current {
  color: #849d8f;
  background-color:#ffffff; 
}
.previous {
  padding-bottom: 5px;
  transform: rotate(180deg);
}
.disabled {
  opacity: 0.3;
}
.next {
  padding-top: 5px;
}

.promo {
  padding-top: 286px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("адрес-картинки");
  background-size: 
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.advertising {
  padding-top: 85px;
  display: flex;
}
.advertising-list {
  display: flex;
  justify-content: space-between;
}
.advertising-item {
  flex-basis: 560px;
}
.advertising-item-one {
}
.advertising-item-two {

}


.catalog-promo {
  padding-top: 80px;
  display: flex;
}
.catalog-list-promo {
  display: flex;
  justify-content: space-between;
}
.catalog-item-promo {
  flex-basis: 267px;
  padding-right: 26px;
}

.features {
  padding-top: 73px;
  display: flex;
  flex-direction: column;

  }
.features-list {
  display: flex;
}
.features-item {
  display: flex;
  flex-direction: column;
  padding-top: 97px;
  display: flex;
  justify-content: space-between;
}

.interactive {
  padding-top: 97px;
  display: flex;
  justify-content: space-between;
}
.gallery {
  display: flex;
}
.gallery-list {
  flex-basis: 275px;
  padding-top: 25px;
  padding-left: 20px;
}
.interactive-list {
  flex-basis: 560px;
  padding: 40px 25px;
  
}

.map {
  min-height: 430px;
  padding-top: 190px;
  padding-bottom: 130px;
  padding-left: 25px;
  display: flex;
  justify-content: flex-end;
}
.contacts-adress {
  color: #000000;
  background-color: #fefefe;
  background-size: cover;
  border-radius: 20px;
  padding-left: 55px;
  padding-right: 25px;
}


.form-regist-one {
  display: flex;
  flex-direction: column;
}
.form-regist-two {
  display: flex;
  align-self: flex-end;
}

.catalog-item-price {
}


.img-social {
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
}

  {background-image: url("адрес-картинки");
  background-size:} 
